CDEK_ACCOUNT=your_account
CDEK_SECURE=your_secure_password
CDEK_API_URL=https://api.cdek.ru/v2
CDEK_FROM_CITY=Петрозаводск
CDEK_FROM_CITY_CODE=450
CDEK_FROM_ADDRESS=Лесной проспект 47
YANDEX_MAPS_API_KEY=
PORT=3000
PACKAGE_WEIGHT=8000
PACKAGE_LENGTH=60
PACKAGE_WIDTH=40
PACKAGE_HEIGHT=10
